.parallax {
    height: 50vh;
    width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-p {
    background-image: url("../img/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg");
}

#sg-p {
    /**/
    background-image: url("../img/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg");
}

#about-p {
    /**/
    background-image: url("../img/jaanus-jagomagi-Dymu1WiZVko-unsplash.jpg");
}

#article-p {
    /**/
    background-image: url("../img/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
}

header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--padding);
}

#main {
    background-color: var(--bg);
    width: 100%;
    min-height: 50vh;
}

nav {
    height: 50px;
    width: 100%;
    position: fixed;
}

html {
    scroll-behavior: smooth;
}